*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'montserrat',Arial, Helvetica, sans-serif;
    font-size: 32px;
}

nav{
    width: 200px;
    height: 100vh;
    background-color: rgb(0, 0, 0);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    float: right;

}

 li{
    margin: 50px 0px 50px 0px;
    list-style-type: none;
}
 li a{
    text-decoration: none;
    color: white;
    padding: 3px;
    transition: all .5s;
}

 li a:hover{
    color: rgb(255, 0, 0);
   
}

li a:active{
    color: rgb(255, 38, 0);
    border: 5px soild rgb(0, 0, 0);
}